.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.meal-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin: 30px;
}
.cart-container{
    background-color: #d70f64;
    color: white;
}
.cart-heading{
    margin-left: 30px;
}