.info{
    margin-left: 30px;
}
.name{
    margin-left: 20px;
}
.cart-img{
    width: 50px;
    border-radius: 50%;
}
@media only screen and (max-width:688px) {
    .info{
        margin: 0;
    }
    .name{
    margin:0;
}
}