.qna-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.qna{
    margin: 10px 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
span{
    font-size: 18px;
    font-weight:600;
}
@media only screen and (max-width:688px) {
    .qna-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        margin-left: 50px;
        text-align: justify;
        justify-content: center;
    }
}